.header {
    padding: 1rem 0 3rem;
}
.tittle {
    background-color: #565656;
    font-family: 'Open Sans', sans-serif;
    font-size: 5vw;
    text-transform: uppercase;
    position: relative;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

.tittle::before {
    content: attr(data-title);
    background: linear-gradient(rgba(152, 251, 152, 0.295), rgba(255, 255, 255, 0.452));
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 0;
    transition: all .1s ease-in-out;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

.tittle:hover::before {
    width: 100%;
}

.nav-list {
    display: flex;
    list-style-type: none;
    margin: 0;

}

.nav-item{
    color: #999999;
    font-size: .9rem;
    margin-right: 1.3rem;
    text-decoration: none;
}

.nav-item:hover {
    color: #666666;
}

.active-nav-item {
    color: #333333;

}
